<!DOCTYPE html>

<head>
    <!-- Freyja - The best friend of LINE OpenChat. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= chatRoomName %> 控制中心 - LINE 社群加入申請驗證系統
    </title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/alpinejs@^3/dist/cdn.min.js"></script>
    <script>
        Alpine.data("appRoot", () => ({
            year: new Date().getFullYear(),
            isSubmitting: false,
            statusMessage: "",
            chatRoomName: "<%= chatRoomName %>",
            chatRoomCode: "",
            async onSubmit({ target }) {
                const formData = new FormData(target);
                const code = formData.get("chatRoomCode");
                try {
                    this.isSubmitting = true;
                    const response = await fetch(`/submissions/${code}`, {
                        method: "GET",
                    });
                    this.isSubmitting = false;
                    if (response.status === 200) {
                        const item = await response.json();
                        const datetime = new Date(item.time).toLocaleString();
                        this.statusMessage = `驗證碼通過（${datetime}）`;
                        return;
                    }
                    if (response.status === 404) {
                        this.statusMessage = "驗證碼無效";
                        return;
                    }
                    throw new Error(`unexpected status: ${response.status}`);
                } catch (error) {
                    this.isSubmitting = false;
                    this.statusMessage = "發生錯誤，請稍後再試";
                    console.error(error);
                }
            },
        }));
    </script>
</head>

<body>
    <div class="relative bg-white" x-data="appRoot">
        <div class="flex justify-center text-center py-8">
            <form x-on:submit.prevent="onSubmit">
                <div class="my-8">
                    <span x-text="chatRoomName"></span>
                    的 LINE 社群控制中心
                </div>
                <div class="my-8">
                    檢查社群驗證碼
                </div>
                <div class="my-8 font-bold text-yellow-600" x-text="statusMessage"></div>
                <div class="my-12">
                    <input type="text" name="chatRoomCode" class="w-64 px-4 py-2 text-center border border-gray-300"
                        placeholder="社群驗證碼" required x-bind:disabled="isSubmitting">
                </div>
                <button type="submit"
                    class="my-8 px-8 py-3 text-base text-white bg-green-600 hover:bg-green-700"
                    x-bind:disabled="isSubmitting">
                    查詢
                </button>
            </form>
        </div>
        <footer class="text-sm leading-6 text-center text-gray-500">
            &copy;
            <span x-text="year"></span>
            <span x-text="chatRoomName"></span>
            的 LINE 社群加入申請驗證系統 - Freyja 芙蕾雅
        </footer>
    </div>
</body>
